@model IEnumerable<KBC.Models.Serie>
@using KBC.Models;

<body>
    <section class="section-grade-serie">
        <div class="container" id="grade-container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div id="list2"><br />
                        <ol>
                            <li><p><em>E-mail</em> dont forget it, so we know who is posting the grade.</p></li>
                            <li><p><em>Choose serie</em> from the list of serie that exists.</p></li>
                            <li><p><em>Your thoughts</em> about the serie, why give that grade?</p></li>
                            <li><p><em>Grade</em> the serie, from 0-5.</p></li>
                        </ol>
                    </div>
                    <a href="~/Home/Index" class="btn btn-lg btn-success" style="width: 50%; text-transform: uppercase; margin-top: 22%; margin-left: 5%;">To frontpage</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" id="grade-box-input">
                    <center>
                        <form class="grade-form">
                            <fieldset class="form-group">
                                <label for="inputEmail">1. Email address</label>
                                <input type="email" class="form-control" id="InputEmail" placeholder="Enter email">
                                <small class="text-muted">We'll never share your email with anyone else.</small>
                            </fieldset>
                            <label for="forSeriesList">2. Wich serie do you want to grade?</label>
                            <select class="form-control"></select>
                            <fieldset class="form-group">
                                <label for="textInputGrade">3. Max 200 characters:</label>
                                <textarea class="form-control" id="TextAreaForGrade" rows="7"></textarea>
                            </fieldset>
                                    <strong><span>4. Grade </span><p id="CurrentGrade">2.5</p></strong>                                                          
                                    <label for="Grade"> 0</label><input name="Grade" id="Grade" type="range" min="0" max="5" step="0.1" oninput="showVal(this.value)" onchange="showVal(this.value)" /><label for="Grade">5</label>
                                <br />                                    
                                 <br />
                                    <button class="btn btn-lg btn-success" href="#" style="width: 50%; text-transform: uppercase;" type="submit">Grade!</button>                           
                            </form>
                        <br />                   
                    </center>
                </div>
             </div>
        </div>
    </section>
</body>