
<body>
    <section class="section-serie-profile">   
            <div class="jumbotron" id="serie-profile-jumbotron">
                <h2>Kan infoga titel med razor här</h2>
                <p><a class="btn btn-danger btn-lg" href="~/Home/Index">Back to Genre</a></p>
            </div>
            <div class="container">
                <h1>Facts about the serie!</h1>
                <div class="row">
                    <span class="label label-default">Action</span>
                    <span class="label label-primary">Comedy</span>
                    <span class="label label-success">Animated</span>
                    <span class="label label-warning">Fantasy</span>
                    <span class="label label-danger">Romance</span>
                    <span class="label label-info">Drama</span>                   
                    <div class="col-lg-6 col-md-6 col-sm-6" id="serie-info">
                        <p>Kan infogas en bild på seriens cover här eller jumbo?</p>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6" id="serie-info-2">
                        <p>Kan fyllas upp med data tex.</p>
                    </div>
                </div>
                <blockquote>
                    <p>Life is good with series in one hand and a beer in the other. Perfect match!</p>
                    <small>Robert Hansson <cite title="Serier e gött">in Dog and Cat, Magazine</cite></small>
                </blockquote>
            </div>
    </section>
</body>


