
/* ------------------------------------------------------ */
/* Innehåll - Contentlayout */
/* ------------------------------------------------------ */

body {
    background-color: black;
    width: 100%;
    height: 100%;
    /*font-style:italic; 
    font-family:Georgia, Times, serif;*/
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000000;       
    padding-bottom: 20px;
}

html {   
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}

section {
    margin-top: 100px;
}

#body-of-doom {
    background-color: black;
}

/*#nav-bar-of-doom {
    color: white;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    background-color: black;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* ------------------------------------------------------ */
/* Headers */
/* ------------------------------------------------------ */

h1 {    
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;    
    letter-spacing: 1px;
    font-weight: bold;
}


/* ------------------------------------------------------ */
/* Section First-Page - Startsidan */
/* ------------------------------------------------------ */

/*img.expand { width: 80px; }*/

#Show-All-Btn {
    margin-top: 40px;
    text-align: center;
    width: 100%;    
}

#btn-genre-animated {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    color: white;   
    margin-top: 40px;
    vertical-align: middle;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: #5B9C0A;
}

#btn-genre-animated:hover {
    font-size: 400%;
    background-color: green;
    opacity: 0.8;
}

#btn-genre-comedy {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: #0000FF;
}

#btn-genre-comedy:hover {
    font-size: 400%;
    background-color: blue;
    opacity: 0.8;
}

#btn-genre-romance {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: #FF0000;
}

#btn-genre-romance:hover {   
    font-size: 400%;
    background-color: red;
    opacity: 0.8;
}

#btn-genre-scifi {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: burlywood;
}

#btn-genre-scifi:hover {  
    font-size: 400%; 
    background-color: burlywood;
    opacity: 0.8;
}

#btn-genre-drama {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: #11C9C0;
}

#btn-genre-drama:hover {   
    font-size: 400%;
    background-color: #11C9C0;
    opacity: 0.8;
}

#btn-genre-fantasy {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: #FF7F00;
}

#btn-genre-fantasy:hover {   
    font-size: 400%;
    background-color: orangered;
    opacity: 0.8;
}

#btn-genre-thriller {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: deeppink;
}

#btn-genre-thriller:hover {   
    font-size: 400%;
    background-color: deeppink;
    opacity: 0.8;
}

#btn-genre-horror {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: #8B00FF;
}

#btn-genre-horror:hover {   
    font-size: 400%;
    background-color: black;
    opacity: 0.8;
}

#btn-genre-action {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: #FAE300;
    color: black;
}

#btn-genre-action:hover {
    font-size: 400%;   
    background-color: yellow;
    opacity: 0.8;
}

/* ------------------------------------------------------ */
/* Section - "Serie-profile  */
/* ------------------------------------------------------ */

/* Eventuellt för att få nedre delen faded. */
/*linear-gradient(
    to bottom,
    rgba(64, 64, 64, 1) 0%,
    rgba(64, 64, 64, 0) 10%,
    rgba(64, 64, 64, 0) 90%,
    rgba(64, 64, 64, 1) 100%
);*/

.jumbotron {
    display: table !important;
    width: 100% !important;
    height: 500px !important;
    text-align: center !important;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6)), url('../Content/img/pexels-photo-57043.jpeg');    
    background-size: cover;   
}

#serie-info {   
    width: 50%;
    height: 400px;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 60px;
    background-color: white;
}

#serie-info-2 {
    border-radius: 25px;
    border: 2px solid yellow;
    width: 50%;
    height: 400px;
    color: white;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 40px;
    background-color: #000000;
}

#recensions-box {
    color: white;
    background-color: black;
    border-radius: 25px;
    border: 2px solid yellow;
    width: 100%;
    height: 400px;
}

/* ------------------------------------------------------ */
/* Section Grade-serie  */
/* ------------------------------------------------------ */

/* LIST #2 */
#list2 { width:320px; }
#list2 ol { font-style:italic; font-family:Georgia, Times, serif; font-size:24px; color:#bfe1f1;  }
#list2 ol li { }
#list2 ol li p { padding:8px; font-style:normal; font-family:Arial; font-size:13px; color:#eee; border-left: 1px solid #999; }
#list2 ol li p em { display:block; }

#grade-box-input {
    border: solid 1px white;
    border-radius: 25px;
}

#grade-container {
    color: white;
    background-color: black;
    margin-top: 4%;
    margin-bottom: 12%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.grade-form {      
    padding-top: 20px;
    padding-bottom: 20px;
}


/* ------------------------------------------------------ */
/* Section Search  */
/* ------------------------------------------------------ */

.section-search {
    display: table;
    width: 100%;
    height: auto;
    text-align: center;
    color: #ffffff;
    background: url('content/img/pexels-photo-65128.jpeg') no-repeat bottom center scroll;
    background-color: #000000;
    background-size: cover;
}

/* ------------------------------------------------------ */
/* Section Footer  */
/* ------------------------------------------------------ */

footer {
    color: white;
    font-size: 200%;
    padding-top: 20px;
    padding-bottom: 30px;
}

/* ------------------------------------------------------ */
/* Nav-bar - Log in */
/* ------------------------------------------------------ */

 #nav-länkarna {
     color: white;     
 }

 #nav-länkarna:hover {
     color: white;     
 }

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


/* ------------------------------------------------------ */
/* Navigation design - Nav'en i olika format */
/* ------------------------------------------------------ */

.navbar-default {
    margin-bottom: 0 !important;
    border-bottom: 1px solid rgba(255,255,255,.3) !important;
    text-transform: uppercase !important;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
    background-color: #000000 !important;
}

.navbar-default .navbar-brand {
    font-weight: 700 !important;
}

.navbar-default .navbar-brand:focus {
    outline: 0 !important;
}

.navbar-default .navbar-brand .navbar-toggle {
    padding: 4px 6px !important;
    font-size: 16px !important;
    color: #ffffff !important;
}

.navbar-default .navbar-brand .navbar-toggle:focus,
.navbar-default .navbar-brand .navbar-toggle:active {
    outline: 0 !important;
}

.navbar-default a {
    color: #ffffff !important;
}

.navbar-default .nav li a {
    -webkit-transition: background .3s ease-in-out !important;
    -moz-transition: background .3s ease-in-out !important;
    transition: background .3s ease-in-out !important;
}

.navbar-default .nav li a:hover {
    outline: 0 !important;
    color: rgba(255,255,255,.8) !important;
    background-color: transparent !important;
}

.navbar-default .nav li a:focus,
.navbar-default .nav li a:active {
    outline: 0 !important;
    background-color: transparent !important;
}

.navbar-default .nav li.active {
    outline: 0 !important;
}

.navbar-default .nav li.active a {
    background-color: rgba(255,255,255,.3) !important;
}

.navbar-default .nav li.active a:hover {
    color: #ffffff !important;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 20px 0 !important;
        border-bottom: 0 !important;
        letter-spacing: 1px !important;
        background: 0 0 !important;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out !important;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out !important;
        transition: background .5s ease-in-out,padding .5s ease-in-out !important;
    }

    .navbar-default.top-nav-collapse {
        padding: 0 !important;
        border-bottom: 1px solid rgba(255,255,255,.3) !important;
        background: #000000 !important;
    }
}
