
/* ------------------------------------------------------ */
/* Innehåll - Contentlayout */
/* ------------------------------------------------------ */

body {
    background-color: black;
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    /*font-family: 'Shadows Into Light', cursive !important;*/
    /*font-family: 'Architects Daughter', cursive !important;*/
    /*font-family: 'Bangers', cursive !important;*/
    /*font-family: 'Orbitron', sans-serif !important;*/
    /*font-family: 'Aldrich', sans-serif !important;*/
    /*font-family: 'Press Start 2P', cursive, 'Play', sans-serif !important;*/ /*Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    color: #000000;       
    padding-bottom: 15px;
}

hr {
    height: 10px;
    color: white;
}

button {
    font-family: 'Lato', sans-serif !important;
    /*font-family: 'Aldrich', sans-serif !important;*/
}

p {
    font-family: 'Lato', sans-serif !important;
}

a {
    font-family: 'Lato', sans-serif !important;
}

html { 
    font-family: 'Lato', sans-serif !important;  
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}

section {
    margin-top: 0px;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    background-color: black;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* ------------------------------------------------------ */
/* Fonts - Finns inlagda */

/*font-family: 'Play', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Bangers', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Aldrich', sans-serif;
font-family: 'Press Start 2P', cursive;*/

/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* Headers */
/* ------------------------------------------------------ */

h1 {    
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;    
    letter-spacing: 1px;
    font-weight: 800;
    /*font-family: 'Press Start 2P', cursive, 'Play', sans-serif !important;*/
    font-family: 'Lato', sans-serif !important;
    font-size: 60px !important;
}

h2 {
    font-family: 'Lato', sans-serif !important;    
    /*font-family: 'Aldrich', sans-serif !important;*/
}

/* ------------------------------------------------------ */
/* Section - Library */
/* ------------------------------------------------------ */

@media only screen and (min-width: 230px),
    (min-device-width: 368px) and (max-device-width: 4024px) {

#library-boxes {
        width: 300px;
        height: 400px;
    }
}

.section-library {
    margin-bottom: 800px;
}

#library-boxes {
    text-align: center;
    color: white;
    padding-bottom: 100px;
}



/* ------------------------------------------------------ */
/* Section About Series - Fakta  */
/* ------------------------------------------------------ */

@media 
only screen and (max-width: 200px),
(min-device-width: 368px) and (max-device-width: 4024px) {

#about-serie-picture {
        width: 400px;
        height: 500px;
    }
}

.section-facts {
    overflow-x:hidden;   
}

#facts-header {
    font-size: 40px !important;
    margin-top: 0px;
    padding-top: 70px;
    padding-bottom: 5%;
}

.section-facts {
    background-color: black;
    text-align: center;
}

#facts-block a {
    color: orange;
}

 #facts-block {       
     height: 420px;
     margin-bottom: 14%;
     color: white;
 }


 /*För tabellen när den förminskas*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
        border: 1px solid #ccc; 
	}
	
    /*Behave  like a "row"*/

	td {	  
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		/*padding-left: 50%;*/ 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		/*top: 6px;
		left: 6px;*/
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}

.jumbotron {
    display: table !important;
    width: 100% !important;
    height: 650px !important;
    text-align: center !important;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('../Content/img/pexels-photo-65128.jpeg');    
    background-size: cover;   
}

/* ------------------------------------------------------ */
/* Section Help - Support  */
/* ------------------------------------------------------ */

.contact-us-text {
    /*padding-left: 20px;
    padding-right: 20px;*/
    text-align: justify;
}


.section-banner-contact-us {
    padding-bottom: 500px;
    width: 100%;
    height: 100%;
    color: #fff;    
    text-align: center !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../Content/img/people-coffee-tea-meeting.jpg');       
    background-size: cover;  
}

#section-help-jumbo {
    padding-top: 10%;
    padding-bottom: 20%;
    color: #fff;    
    text-align: center !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../Content/img/hand-top-white-old.jpg');    
    background-size: cover;   
}

/* Headers - Support  */

#support-header {
    padding-top: 20px;
    color: black;
}

#contact-us-banner-header {
    margin-top: 0px;
    padding-top: 70px;
}

#contact-us-header {
    margin-top: 0px;
    padding-top: 70px;
    padding-bottom: 5%;
}

#usual-questions {
    color: black;
    background-color: white;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    height: 100%;
    padding-bottom: 80px;
}

.section-contact-us {
    background-color: black;
    text-align: center;
}

#contact-block a {
    color: orange;
}

 #contact-block {    
     height: 280px;
     margin-bottom: 14%;
     color: white;
 }

/* Bakgrund */

.section-help {
    background-color: white;
    margin-top: 0px;
}


/* ------------------------------------------------------ */
/* Section Review/Grade-serie  */
/* ------------------------------------------------------ */

.section-grade-serie {  
    overflow-x:hidden;     
    margin-top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/night-television-tv-theme-machines.jpg);
    background-size: cover;
    color: #fff;
}

#grade-container {
    color: white;
    margin-top: 10%;
    margin-bottom: 12%;
    padding-top: 60px;
    padding-bottom: 40px;
    overflow:hidden;
    width: 30%;
    height: 100%;
    background-color: transparent;
    opacity: 0.9;
}

.grade-form {  
    margin-top: 20%;
    margin-bottom: 13%;
    background-color: black;    
    opacity: 0.9;
    padding-top: 40px;
    padding-bottom: 80px;    
}


/* ------------------------------------------------------ */
/* Section Search  */
/* ------------------------------------------------------ */

.section-search {
    margin-top: 180px;
    display: table;
    width: 100%;
    height: auto;
    text-align: center;
    color: #ffffff;
    /*background: url('content/img/pexels-photo-65128.jpeg') no-repeat bottom center scroll;*/
    background-color: #000000;
    background-size: cover;
}

#SearchItem a {    
    color: white;
    text-decoration: none;
    background-color: black;
    opacity: 0.8;
}

#SearchItem a:hover {
    color: white;
    /*text-decoration: underline;*/
    font-size: 140%;
}

/*@media only screen and (min-width: 230px),
    (min-device-width: 368px) and (max-device-width: 4024px) {

#library-boxes {
        width: 300px;
        height: 400px;
    }
}*/

/*#btn-genre-fantasy {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: #FF7F00;
}

#btn-genre-fantasy:hover {   
    font-size: 400%;
    background-color: orangered;
    opacity: 0.8;
}*/


/* ------------------------------------------------------ */
/* Section First-Page - Startsidan */
/* ------------------------------------------------------ */

/*img.expand { width: 80px; }*/

.First-Page {
    margin-top: 100px;
}

#Show-All-Btn {
    margin-top: 40px;
    text-align: center;
    width: 100%;    
}

#btn-genre-animated {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    color: white;   
    margin-top: 40px;
    vertical-align: middle;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: #5B9C0A;
}

#btn-genre-animated:hover {
    font-size: 400%;
    background-color: green;
    opacity: 0.8;
}

#btn-genre-comedy {  
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('../Content/img/Season_8_DVD_Cover.jpg');    
    background-size: cover;   
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: #0000FF;
}

#btn-genre-comedy:hover {
    font-size: 400%;
    background-color: blue;
    opacity: 0.8;
}

#btn-genre-romance {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: #FF0000;
}

#btn-genre-romance:hover {   
    font-size: 400%;
    background-color: red;
    opacity: 0.8;
}

#btn-genre-scifi {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: burlywood;
}

#btn-genre-scifi:hover {  
    font-size: 400%; 
    background-color: burlywood;
    opacity: 0.8;
}

#btn-genre-drama {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: #11C9C0;
}

#btn-genre-drama:hover {   
    font-size: 400%;
    background-color: #11C9C0;
    opacity: 0.8;
}

#btn-genre-fantasy {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: #FF7F00;
}

#btn-genre-fantasy:hover {   
    font-size: 400%;
    background-color: orangered;
    opacity: 0.8;
}

#btn-genre-thriller {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: deeppink;
}

#btn-genre-thriller:hover {   
    font-size: 400%;
    background-color: deeppink;
    opacity: 0.8;
}

#btn-genre-horror {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: #8B00FF;
}

#btn-genre-horror:hover {   
    font-size: 400%;
    background-color: black;
    opacity: 0.8;
}

#btn-genre-action {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: #FAE300;
    color: black;
}

#btn-genre-action:hover {
    font-size: 400%;   
    background-color: yellow;
    opacity: 0.8;
}

#btn-SearchResult {  
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('../Content/img/Season_8_DVD_Cover.jpg');*/    
    background-size: cover;   
    padding-top: 80px;
    font-size: 100%;
    border: none;
    margin-top: 40px;
    vertical-align: central;
    text-align: center;
    width: 100%; 
    height: 150px;
    background-color: #0000FF;
}

#btn-SearchResult:hover {
    font-size: 150%;
    background-color: blue;
    opacity: 0.8;

/* ------------------------------------------------------ */
/* Section Footer  */
/* ------------------------------------------------------ */

footer {
    color: white;
    font-size: 200%;
    padding-top: 20px;
    padding-bottom: 30px;
}

/* ------------------------------------------------------ */
/* Nav-bar - Log in */
/* ------------------------------------------------------ */

 #nav-länkarna {
     color: white;     
 }

 #nav-länkarna:hover {
     color: orange !important;     
 }

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-dp a {
    color: black !important;
}

#login-dp a:hover {
    color: #336600 !important;    
}

#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;

}
#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

/* ------------------------------------------------------ */
/* Navigation design - Nav'en i olika format */
/* ------------------------------------------------------ */

.navbar-default {
    margin-bottom: 0 !important;
    border-bottom: 1px solid rgba(255,255,255,.3) !important;
    text-transform: uppercase !important;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
    background-color: #000000 !important;
}

.navbar-default .navbar-brand {
    font-weight: 700 !important;
}

.navbar-default .navbar-brand:focus {
    outline: 0 !important;
}

.navbar-default .navbar-brand .navbar-toggle {
    padding: 4px 6px !important;
    font-size: 16px !important;
    color: #ffffff !important;
}

.navbar-default .navbar-brand .navbar-toggle:focus,
.navbar-default .navbar-brand .navbar-toggle:active {
    outline: 0 !important;
}

.navbar-default a {
    color: #ffffff !important;
}

.navbar-default .nav li a {
    -webkit-transition: background .3s ease-in-out !important;
    -moz-transition: background .3s ease-in-out !important;
    transition: background .3s ease-in-out !important;
}

.navbar-default .nav li a:hover {
    outline: 0 !important;
    color: rgba(255,255,255,.8) !important;
    background-color: transparent !important;
}

.navbar-default .nav li a:focus,
.navbar-default .nav li a:active {
    outline: 0 !important;
    background-color: transparent !important;
}

.navbar-default .nav li.active {
    outline: 0 !important;
}

.navbar-default .nav li.active a {
    background-color: rgba(255,255,255,.3) !important;
}

.navbar-default .nav li.active a:hover {
    color: #ffffff !important;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 20px 0 !important;
        border-bottom: 0 !important;
        letter-spacing: 1px !important;
        background: 0 0 !important;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out !important;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out !important;
        transition: background .5s ease-in-out,padding .5s ease-in-out !important;
    }

    .navbar-default.top-nav-collapse {
        padding: 0 !important;
        border-bottom: 1px solid rgba(255,255,255,.3) !important;
        background: #000000 !important;
    }

    #SearchItem {
    height:150px;
    background-repeat:no-repeat;
    background-position:center;

    }
    #SearchItemText{
        font-family: 'Lato', sans-serif !important;
         color:white;
         text-align:center;
         vertical-align:central;
    }
}
