
/* ------------------------------------------------------ */
/* Innehåll - Contentlayout */
/* ------------------------------------------------------ */

body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000000;
    background-color: #000000;
    padding-top: 25px;
    padding-bottom: 20px;
}

html {   
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}

#body-of-doom {
    background-color: black;
}

#nav-bar-of-doom {
    /*color: white;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    background-color: black;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* ------------------------------------------------------ */
/* Headers */
/* ------------------------------------------------------ */

h1 {    
    text-align: center;
    text-transform: uppercase;    
    letter-spacing: 1px;
    font-weight: bold;
}


/* ------------------------------------------------------ */
/* Section First-Page - Startsidan */
/* ------------------------------------------------------ */

#Show-All-Btn {
    margin-top: 40px;
    text-align: center;
    width: 100%;    
}

/*<button type="button" style="width:24px; text-align:center; ">A</button>*/

#btn-genre-animated {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    color: white;   
    margin-top: 40px;
    vertical-align: middle;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: #5B9C0A;
}

#btn-genre-animated:hover {
    font-size: 400%;
    background-color: green;
    opacity: 0.8;
}

#btn-genre-comedy {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: #0000FF;
}

#btn-genre-comedy:hover {
    font-size: 400%;
    background-color: blue;
    opacity: 0.8;
}

#btn-genre-romance {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: #FF0000;
}

#btn-genre-romance:hover {   
    font-size: 400%;
    background-color: red;
    opacity: 0.8;
}

#btn-genre-scifi {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: burlywood;
}

#btn-genre-scifi:hover {  
    font-size: 400%; 
    background-color: burlywood;
    opacity: 0.8;
}

#btn-genre-drama {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: #11C9C0;
}

#btn-genre-drama:hover {   
    font-size: 400%;
    background-color: #11C9C0;
    opacity: 0.8;
}

#btn-genre-fantasy {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: #FF7F00;
}

#btn-genre-fantasy:hover {   
    font-size: 400%;
    background-color: orangered;
    opacity: 0.8;
}

#btn-genre-thriller {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: deeppink;
}

#btn-genre-thriller:hover {   
    font-size: 400%;
    background-color: deeppink;
    opacity: 0.8;
}

#btn-genre-horror {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: #8B00FF;
}

#btn-genre-horror:hover {   
    font-size: 400%;
    background-color: black;
    opacity: 0.8;
}

#btn-genre-action {
    padding-top: 80px;
    font-size: 300%;
    border: none;
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    height: 250px;
    background-color: #FAE300;
    color: black;
}

#btn-genre-action:hover {
    font-size: 400%;   
    background-color: yellow;
    opacity: 0.8;
}

/* ------------------------------------------------------ */
/* Section Search  */
/* ------------------------------------------------------ */

.section-search {
    display: table;
    width: 100%;
    height: auto;
    text-align: center;
    color: #ffffff;
    background: url(content/img/pexels-photo-65128.jpg) no-repeat bottom center scroll;
    background-color: #000000;
    background-size: cover;
}

/* ------------------------------------------------------ */
/* Section Footer  */
/* ------------------------------------------------------ */

footer {
    color: white;
    font-size: 200%;
    padding-top: 20px;
    padding-bottom: 30px;
}