
@{
    ViewBag.Title = "title_placeholder";
    ViewBag.UserName = "username_placeholder";
    ViewBag.Age = 0;
    ViewBag.Gender = "";
    ViewBag.Location = "";
}

<head>
    <title>Viewbag.Title</title>
</head>
<body>
    <h6>Name: @ViewBag.UserName</h6>
</body>
