
@{
    // Test data
    ViewBag.Title = "title_placeholder";
    ViewBag.UserName = "John Doe";
    ViewBag.Age = "55";
    ViewBag.Gender = "Male";
    ViewBag.Location = "Sweden";
    ViewBag.BirthDay = "1990-01-01";
    ViewBag.Email = "email@kbcseries.com";
}

<head>
    <title>Viewbag.Title</title>
</head>
<body>
    <br />
    <br />
    <br />
    <br />

    <!--- BEGIN USER MAIN---->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="cardheader">
                        some text inside cardheader if desired
                    </div>
                    <div class="avatar">
                        <img alt="useravatar" src="http://placehold.it/140x100">
                    </div>
                    <div id="usernameheader">
                        @ViewBag.UserName
                    </div>

                    <div class="cardcontent">
                        <div id="userlocation"><span class="glyphicon glyphicon-map-marker"></span> @ViewBag.Location</div>
                        <div id="userbirthday"><span class="glyphicon glyphicon-gift"></span> @ViewBag.BirthDay</div>
                        <div id="useremail"><span class="glyphicon glyphicon-envelope"></span> @ViewBag.Email</div>
                    </div>

                    <br />
                    <div class="cardfooter">
                        <button type="button" class="label label-default" data-toggle="modal" data-target="#editProfileModal">edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---END USER MAIN---->


    <!-- BEGIN EDIT PROFILE MODAL -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="editProfileLabel">Edit Profile</h4>
                </div>


                <br />
                <br />
                <div class="avatar">
                    <img alt="cardContent" src="http://placehold.it/140x100">
                </div>

                <span class="btn btn-primary btn-file">
                    <span class="">Upload avatar</span>
                    <span class="fileupload-new"></span><input type="file" />
                </span>


                <!-- [Edit Username] -->
                <div class="modal-body">
                    <form name="form" id="form" class="form-horizontal" action="submit.php" method="post">
                        <div class="control-group">
                            <label class="control-label" for="inputName">Username</label>
                            <div class="controls">
                                <input type="text" name="name" id="inputName" value="" placeholder="Name" maxlength="75" required="" />
                            </div>
                        </div>

                        <!-- [Edit Location] -->
                        <div class="control-group">
                            <label class="control-label" for="inputLocation">Location</label>
                            <div class="controls">
                                <input type="text" name="location" id="inputLocation" value="" placeholder="Loctaion" maxlength="50" required="" />
                            </div>
                        </div>

                        <!-- [Edit Birthday] todo fix format of date-->
                        <div class="control-group">
                            <label class="control-label" for="inputBirthday">Birthday</label>
                            <div class="controls">
                                <input type="text" name="birthday" id="inputBirthday" value="" placeholder="YY/MM/DD" maxlength="25" required="" />
                            </div>
                        </div>

                        <!-- [Edit Email-address] -->
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">Email</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input type="text" name="email" id="inputEmail" value="" placeholder="Email Address" maxlength="50" required="" />
                                </div>
                            </div>
                        </div>

                        <!-- [SUBMIT / RETURN] -->
                        <div class="control-group">
                            <div class="controls">
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Return</button>
                                    <button type="submit" class="btn btn-success">Save changes</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END EDIT PROFILE MODAL -->





</body>
