
@{
    ViewBag.Title = "Register Error - Password Too Short";
}

<br /><br /><br /><br />
<div class="error-msg">
    <h2>Register Error</h2>
    <p>The password is too short! It must be atleast <strong>6</strong> characters</p>
    Try to <a href="/User/Index">register</a> again.
</div>

