
@{
    ViewBag.Title = "Register Error - Passwords Don't Match";
}

<br /><br /><br /><br />
<div class="error-msg">
    <h2>Register Error</h2>
    <p>The passwords you entered don't match!</p>
    Try to <a href="/User/Index">register</a> again.
</div>

