
@{
    ViewBag.Title = "Register Error - Unforseen error";
}

<br /><br /><br /><br />
<div class="error-msg">
    <h2>Register Error</h2>
    <p>A goblin got in the code. How unfortunate!</p>
    Try to <a href="/User/Index">register</a> again.
</div>


