
@{
    ViewBag.Title = "Register Error - Username Too Short";
}

<h2>Register Error</h2>
<p>Username is too short! It must be atleast <strong>3</strong> characters!</p>
Try to <a href="/User/Index">register</a> again.

