
@{
    ViewBag.Title = "Login Error - Wrong Login";
}

<br /><br /><br /><br />
<div class="error-msg">
    <h2>Login Error</h2>
    <p>The username or password is incorrect! Please try again.</p>
    Try to <a href="/Home/Index">login</a> again.
</div>
