
@{
    ViewBag.Title = "KBC";
}

<html>
<body>
    <section class="First-Page">
        <div class="container">
            @*<h1>Welcome to SERI(E)IOUS!</h1>*@
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <a href="#" class="btn btn-primary btn-lg" id="Show-All-Btn">Show all Series</a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="#" class="btn btn-default" id="btn-genre-animated">Animated</a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="#" class="btn btn-primary" id="btn-genre-comedy">Comedy</a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="#" class="btn btn-warning" id="btn-genre-romance">Romance</a>
                </div>
            </div>

            @*Andra raden columner*@
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <a href="#" class="btn btn-success" id="btn-genre-scifi">Sci-fi</a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="#" class="btn btn-danger" id="btn-genre-drama">Drama</a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="#" class="btn btn-info" id="btn-genre-fantasy">Fantasy</a>
                </div>
            </div>

            @*Tredje raden columner*@
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <a href="#" class="btn btn-success" id="btn-genre-thriller">Thriller</a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="#" class="btn btn-danger" id="btn-genre-horror">Horror</a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="#" class="btn btn-info" id="btn-genre-action">Action</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>