
@{
    ViewBag.Title = "KBC";
}

<html>
<body>
    <section class="First-Page">
        <div class="container">
            @*<h1>Welcome to SERI(E)IOUS!</h1>*@
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <a href="#" class="btn btn-primary btn-lg" id="Show-All-Btn">Show all Series</a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="#" class="btn btn-default " id="btn-genre-animated"><span><img src="~/Content/img/glyphicons-339-turtle.png" /></span>@Html.ActionLink("Animated", "../Search/GenreSelection", new { GenreID = 0 })</a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="#" class="btn btn-primary" id="btn-genre-comedy"><span><img src="~/Content/img/glyphicons-301-microphone.png" /></span>Comedy</a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="#" class="btn btn-warning" id="btn-genre-romance"><span><img src="~/Content/img/glyphicons-13-heart.png"/></span>Romance</a>
                </div>
            </div>

            @*Andra raden columner*@
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <a href="#" class="btn btn-success" id="btn-genre-scifi"><span><img src="~/Content/img/glyphicons-777-robot.png" alt="scifi"/></span>Sci-fi</a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="#" class="btn btn-danger" id="btn-genre-drama"><span><img src="~/Content/img/glyphicons-671-theater.png" /></span>Drama</a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="#" class="btn btn-info" id="btn-genre-fantasy"><span><img src="~/Content/img/glyphicons-323-playing-dices.png" /></span>Fantasy</a>
                </div>
            </div>

            @*Tredje raden columner*@
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <a href="#" class="btn btn-success" id="btn-genre-thriller"><span><img src="~/Content/img/glyphicons-499-sunglasses.png" /></span>Thriller</a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="#" class="btn btn-danger" id="btn-genre-horror"><span><img src="~/Content/img/glyphicons-291-skull.png" /></span>Horror</a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="#" class="btn btn-info" id="btn-genre-action"><span><img src="~/Content/img/glyphicons-282-bullets.png" /></span>Action</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>