

@{
    ViewBag.Title = "Index";
}


<div class="text-center">
    <h2>Registration</h2>
    <form class="form-group" action="Register" method="post">
        <fieldset>
            *Username: <input type="text" name="usernameInput" placeholder="Min 3 characters" /><br />
            *Email: <input type="text" name="emailInput" placeholder="Example@Example.com" /><br />
            *Password: <input type="password" name="passwordInput" placeholder="Min 6 characters" /><br />
            *Retype password: <input type="password" name="passwordInputRetype" /><br /><br />
            <input type="submit" value="Register" />
        </fieldset>
    </form>

    <br />*Required
</div>

